
/*---------------- Show Desktop Search -------------*/
header .menus .topmenu .search .topmenu-input.show-input{
   display: inline-block;
   width: 50%;
   transition: all 1.5s ease 0s;
 }
header .menus .topmenu .search button.edit-button{
  width: auto;
}
/*-----------------------------------------------------*/

.title{
  font-family: $font-bold;
  color: $gray;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.timetable{
  font-family: $font-regular;
  color: #fff;
}
a.buy{
  font-family: $font-bold;
}
.readmore{
  font-family: $font-bold;
  text-transform: capitalize;
}

.schedule .title{
  font-family: $font-bold;
  font-size: 40px;
  line-height: 46px;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 30px 0;
  &:before {
    content: "";
    float: left;
    vertical-align: bottom;
    background: no-repeat 50% 50%;
    background-size: 25px auto;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 7px;
  }
}
.events-info-schedule{
  margin: 15px 0 20px 0;
  font-size: 14px;
  line-height: 16px;
  color: $gray85;
  span{
    padding: 0 10px;
    border-left: 1px solid $gray85;
    color: $gray85;
    margin-bottom: 5px;
    display: inline-block;
    &:nth-child(1){
      border: none;
      padding-left: 0;
    }
  }
  a{
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
    border-left: 1px solid $gray85;
    color: $gray85;
    text-decoration: underline;
  }
}
.events-info-about{
    font-size: 16px;
    line-height: 22px;
    color: $black;
}







